<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <title>Scrapper</title>
</head>
<body>
    <div class="container">
        <form action="scrapout" method="POST" >{% csrf_token %}
            <label class="form-label">1) URL</label>
            <input type="url" name="url" class="form-control" id="exampleFormControlInput1" placeholder="http://thunderbolt.org"><br>
            <button type="submit" class="btn btn-primary">Scrap It Out (Web)</button>
        </form><br>

        <form action="textscrapout" method="POST" >{% csrf_token %}
            <label class="form-label">2) TEXT</label>
            <input type="text" name="text" class="form-control" id="exampleFormControlInput1" placeholder="example1, example2, example3"><br>
            <button type="submit" class="btn btn-primary">Scrap It Out (Text)</button>
        </form><br>

    </div>





</body>
</html>